.wrap {
    display: flex;
    flex-direction: column;
    line-height: 11px;

    .nameCity {
        font-size: 20px;
        font-weight: bolder;
    }

    .date {
        font-size: 18px;
        font-style: italic;
        font-weight: lighter;
    }

    .wrapWeather {
        box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.465);
        display: flex;
        align-items: center;
        flex-direction: column;
        width: auto;
        height: auto;
        background-color: rgba(255, 255, 255, 0.386);
        border-radius: 30px;
        margin: 15px 0px;

        .weatherIcon {
            img {
                width: 130px;
                height: auto;
            }
        }

        .temp {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 90px;
            font-weight: lighter;
            color: rgba(79, 0, 86, 0.629);
            margin-top: -40px;
            margin-bottom: -40px;

            p {
                font-size: 60px;
            }
        }



        .weatherDesc {
            font-size: larger;
            color: rgb(54, 54, 54);
        }

        .wind {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: larger;
            color: rgb(54, 54, 54);

            p {
                font-size: 20px;
            }
        }
    }


}