@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(0, 191, 255, 0.48);
}