@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

.wrap {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Sigmar', sans-serif;
    background: linear-gradient(to bottom right, rgba(244, 82, 133, 0.715), rgba(185, 82, 244, 0.8));
}