@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,900;1,200;1,400;1,900&display=swap');

.wrap {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    // font-family: 'Sigmar', sans-serif;
    font-family: 'Source Code Pro', monospace;
    background: linear-gradient(to bottom right, rgba(244, 82, 133, 0.715), rgba(185, 82, 244, 0.8));
}