// font-family: 'Poppins', sans-serif;
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.wrap {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}