.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: auto;
    background: linear-gradient(to bottom right, rgba(4, 23, 66, 0.8), rgba(74, 1, 50, 0.8));
    color: rgb(255, 243, 228);
    font-size: 20px;

    span {
        font-size: 15px;
        color: rgba(255, 243, 228, 0.7);
    }
}